<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="httpdocs/assets/css/bootstrap.min.css">

    <style>

        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300italic,400italic,500italic,600italic,700italic,800italic');

        body {
            font-family: 'Open Sans', sans-serif;
            background-color: #fff;
        }

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p{
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
        }

        .text-bblue {
            color: #1d7088;
        }

        .bg-bblue {
            background-color: #00c5ff;
        }

        .bg-bprimary {
            background-color: #1d7088;
        }

        .bg-blight {
            background-color: #eee;
        }

        header nav {

        }

        nav a {
            color: #fff;
        }

        @media all and (min-width: 768px) {
            nav a {
                font-size: 18px;
            }
        }

        nav a:hover {
            color: #fff;
            text-decoration: underline;
        }

        .btn, input, textarea, .form-control {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .social--links {
            font-size: 22pt;
        }

        .social--links a,
        .social--links a:hover {
            text-decoration: none;
        }

        .fa-linkedin {
            color: #0077b5;
        }

        .fa-facebook {
            color: #4267b2;
        }

        .fa-twitter-square {
            color: #1ca0f1;
        }
        .fa-github-square {
            color: #222;
        }

        .border-thick {
            border-width: 6px !important;
            border-color: #eee;
            border-style: solid;
        }

    </style>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N6LQS57');</script>
    <!-- End Google Tag Manager -->

    <title><!-- page_title --></title>
</head>
<body id="home">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6LQS57"
                  height="0"
                  width="0"
                  style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="bg-bblue text-light">
    <div class="container pt-3 pb-3 pb-lg-0">
        <h1 class="text-md-right my-0 pb-0 pt-4"><!-- page_heading --></h1>
        <h2 class="text-md-right my-0 pt-0 pb-0 h3 text-uppercase"><!-- page_subheading --></h2>
    </div>
</header>

<nav class="sticky-top fixed-top bg-bblue">
    <div class="container py-2">
        <a href="../aaronhenderson.co.uk/#home"
           class="mr-4 anchor-link">
            Home
        </a>

        <a href="../aaronhenderson.co.uk/#about"
           class="mr-4 ml-4 anchor-link">
            About Me
        </a>

        <a href="../aaronhenderson.co.uk/#contact"
           class="ml-4 anchor-link">
            Contact Me
        </a>
    </div>
</nav>

<section class="py-4">
    <div class="container mt-4">

        <h2 class="text-bblue">
            Trip IQ Systems Ltd
            <span class="text-muted">
                - Web Developer
            </span>
        </h2>
        <p class="lead">
            <strong>July 2019 to December 2019</strong>
        </p>
        <p class="lead">
            Working both remotely and on site as part of an agile team consuming API’s and further developing an all new
            car sharing SaaS platform from the ground up. My role here mainly involved crafting Object Orientated PHP
            code that complies with FIG standards and integrates smoothly within the Laravel ecosystem. Taking a TDD
            approach to development with PHPUnit as part of a Gitlab CI pipeline to ensure only solutions are deployed
            live.
        </p>
        <h4>What I did:</h4>
        <ul style="list-style-type: square;"
            class="lead">
            <li>
                Crafted clean, testable code with supporting unit tests deployed as part of a continuous integration process.
            </li>
            <li>
                Extended as well as introduced new API functionality as part of a SaaS platform.
            </li>
            <li>
                Delivered a fluid cross browser compatible front end user experience using Bootstrap with Webpack and
                AngularJS.
            </li>
        </ul>
        <h4>What I learned:</h4>
        <ul style="list-style-type: square;"
            class="lead">
            <li>
                Modern PHP practices as well as how to apply them within the Laravel ecosystem.
            </li>
            <li>
                The efficiencies and processes involved with continuous integration / Gitlab CI.
            </li>
            <li>
                How telematics work for a variety of operators within the car leasing industry.
            </li>
        </ul>
    </div>
</section>


<section class="bg-blight py-4">
    <div class="container mt-4">

        <h2 class="text-bblue">
            Spark Etail Ltd
            <span class="text-muted">
                - Web Developer
            </span>
        </h2>
        <p class="lead">
            <strong>Octoer 2014 to July 2019</strong>
        </p>
        <p class="lead">
            Working as the sole developer as part of a small team responsible for operating several of the UK’s leading
            online ethical retailers. My role here involved delivering solutions and improvements to the infrastructure that
            underpins these user centric e-commerce services and maintaining an edge over competitors. As well as
            implementing seasonal design changes and optimizations of all kinds; this often involved developing
            functionality to improve profitability, marketing and promotional opportunities as well as accessibility across the
            various channels operated.
        </p>
        <h4>What I did:</h4>
        <ul style="list-style-type: square;"
            class="lead">
            <li>
                Worked closely with in house designers to replace several “desktop” websites with fully responsive cross
                browser compatible websites.
            </li>
            <li>
                Tamed several osCommerce flavoured websites into one manageable codebase.
            </li>
            <li>
                Improved site search conversion rate by using a combination of AI and Elasticsearch.
            </li>
            <li>
                Developed a GDPR compliant AI system to profile customers and generate personalised product
                recommendations for use on the web and via email.
            </li>
            <li>
                Built a system to reliably A/B test existing and new functionality to understand how we might deliver a more
                optimised service.
            </li>
            <li>
                Reliably delivered many improvements of varying complexity over a significant period of time with minimal
                disruption to service.
            </li>
            <li>
                Improved office morale with the invention of “Fact Friday” and “Terrible Joke Tuesday”.
            </li>
        </ul>
        <h4>What I learned:</h4>
        <ul style="list-style-type: square;"
            class="lead">
            <li>
                How to understand and improve complex logic that can be attributed to long term and rapid growth in a
                corporate environment without wreaking havoc.
            </li>
            <li>
                Optimization techniques and best practices essential to running a successful omnichannel e-commerce
                business.
            </li>
            <li>
                How to reliably record and analyse custom dimensions and metrics within Google Analytics as well as how
                to present them in Google’s DataStudio.
            </li>
            <li>
                The importance of a healthy work life balance and how that can be managed to improve quality and
                efficiency across the board.
            </li>
            <li>
                How to make conscious decisions around ethical consumerism as well as empowering others to do the
                same.
            </li>
        </ul>
    </div>
</section>


<section class="py-4">
    <div class="container mt-4">

        <h2 class="text-bblue">
            Palringo
            <span class="text-muted">
                - Web Developer
            </span>
        </h2>
        <p class="lead">
            <strong>April 2014 to October 2014</strong>
        </p>
        <p class="lead">
            Working as part of an international team responsible for providing a service to several million users whilst
            collaborating between offices and each other over confluence and Jira. My role here involved delivering
            improvements to both front and back end applications applying a mixture of Agile and Waterfall methodologies
            to my workflow. Producing work using a mixture of PHP, MySQL, HTML, Javascript and CSS whilst ensuring
            mark-up to be cross browser compatible and in conformance with W3C standards.
        </p>
        <h4>What I did:</h4>
        <ul style="list-style-type: square;"
            class="lead">
            <li>
                Developed features to better manage application and user data across the service.
            </li>
            <li>
                Improved account security by enforcing a higher level of entropy with passwords and placing restrictions
                over the ability to change staff account details.
            </li>
            <li>
                Worked alongside the in-house designer on re-branding the front end website and improving the user
                experience.
            </li>
            <li>
                Re-skinned the admin site to simplify tasks ran by the support team using bootstrap 3 to minimise the
                development of proven concepts.
            </li>
        </ul>
        <h4>What I learned:</h4>
        <ul style="list-style-type: square;"
            class="lead">
            <li>
                How to develop responsive bi-directinal multilingual layouts.
            </li>
            <li>
                The process of being “Agile” and how to apply this to my workflow in a complimentary way.
            </li>
            <li>
                Micro-optimizations necessary for operating a service relied upon by millions of users.
            </li>
        </ul>
    </div>
</section>

<section class="bg-blight py-4">
    <div class="container mt-4">

        <h2 class="text-bblue">
            Quindo AB
            <span class="text-muted">
                - Web Developer
            </span>
        </h2>
        <p class="lead">
            <strong>September 2013 to January 2014</strong>
        </p>
        <p class="lead">
            Regularly reporting to the CEO and collaborating with colleagues over Asana, Hipchat and Skype. I was first
            tasked with working alongside our designer and hand coding the front end website using HTML5, CSS3 and
            PHP5. Our target audience being mobile users it was critically important for mark-up to be speed optimised,
            mobile friendly and responsive throughout.
        </p>
        <h4>What I did:</h4>
        <ul style="list-style-type: square;"
            class="lead">
            <li>
                Hand coded a responsive W3C compliant website using Laravel 4 and Bootstrap with mark-up optimised
                for SEO, SERP and SMO.
            </li>
            <li>
                Integrated the front end content management system with the back end system
            </li>
            <li>
                Automated various repetitive tasks through good use of cron.
            </li>
        </ul>
        <h4>What I learned:</h4>
        <ul style="list-style-type: square;"
            class="lead">
            <li>
                How to develop a bi-lingual website in a user friendly way.
            </li>
            <li>
                The benefits of utilising third party API’s as well as how to reliably consume & integrate them.
            </li>
            <li>
                Best practices from an award winning designer.
            </li>
        </ul>
    </div>
</section>

<section>
    <div class="container">
        <p class="lead my-4 border-thick p-4">
            Whilst it is difficult to transcribe over a decade of experience doing something I enjoy and care about
            considerably without overloading the reader with information; it is hoped that I have provided a good
            overview whilst leaving scope for further discussions of which I am most keen to engage in.
        </p>
    </div>
</section>


<p class="text-center py-3 mt-3">&copy; Aaron Henderson 2021</p>


</body>
</html>