<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
    
    <link rel="stylesheet"
          href="httpdocs/assets/css/bootstrap.min.css"
          crossorigin="anonymous">

    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Roboto');

        body {
            font-family: 'Roboto', sans-serif;
            padding: 40px 0;
            padding: 10vh 0;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43558737-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-43558737-1');
    </script>


    <title>Aaron Henderson, Web Developer - AaronHenderson.co.uk</title>
</head>
<body>

    <header class="bg-danger text-light fixed-top py-4"
            style="z-index: 9">
        <div class="container">
            <h1 class="text-center text-uppercase p-4">Something broke</h1>
        </div>
    </header>

    <main class="text-center fixed-bottom"
          style="z-index: 1">

         <div class="container">

             <p class="bg-danger py-3">
                 <a href="/" class="btn btn-block text-light">
                     Return home
                 </a>
             </p>
         </div>

    </main>
</body>
</html>