<aside>
    <nav id="application__menu">
        <ul>
            <li><a href="/php/website/examples/facebook.com/">{ user.homepage }</a></li>
            <li><a href="/php/website/examples/facebook.com/?user_profile">{ user.profile }</a></li>
            <li><a href="/php/website/examples/facebook.com/?user_memories">{ user.memories }</a></li>
            <li><a href="/php/website/examples/facebook.com/?user_calendar">{ user.calendar }</a></li>
            <li><a href="/php/website/examples/facebook.com/?user_friends">{ user.friends }</a></li>
            <li><a href="/php/website/examples/facebook.com/?user_memories">{ user.messages }</a></li>
            <li><a href="/php/website/examples/facebook.com/?user_settings">{ user.settings }</a></li>
            <li><a href="/php/website/examples/facebook.com/?sign_out">{ user.signout } </a></li>
        </ul>
    </nav>
</aside>