    <footer class="footer">
        <p class="small-text desktop-float-right">
            <a href="/php/website/examples/facebook.com/?terms_of_service">{ user.terms }</a> -
            <a href="/php/website/examples/facebook.com/?privacy_statement">{ user.privacy }</a>
        </p>
        <p class="small-text">
            <a href="/php/website/examples/facebook.com/?user_profile">{ user.profile }</a>,
            <a href="/php/website/examples/facebook.com/?user_settings">{ user.settings }</a>,
            <a href="/php/website/examples/facebook.com/?user_messages">{ user.messages }</a>,
            <a href="/php/website/examples/facebook.com/?user_search">{ user.search }</a>,
            <a href="/php/website/examples/facebook.com/?subscribed_users">{ subscribed.users }</a>
        </p>
    </footer>
</body>
</html>