<p class="alerting--info">

</p>
<article id="article__terms_and_agreement">
    <h3>Privacy statement</h3>
    <p>
        We believe everyone has the right to privacy and a safe online community as well as internet. By default our
        platform remains transparent with regards to publicity of your content.

        Should we find any person to be in lawful breach of your privacy, human rights and the terms of agreement
        associated with this platform we will cease to communicate with the responsible party by terminating their
        access to this service even to acknowledge this agreement.
    </p>
    <h3>Digital privacy</h3>
    <p>
        You should not need to clear your browser history or delete cookies for any reason other than to improve
        the operating speed of your web browser or smart device if necessary; logistically speaking; unless the
        offline data your browser retains slows the performance of your device you should never really need to
        remove or delete them. This however remains wholly untrue in todays age and we recommend clearing your
        browser history and deleting offline website data between visits to remain unmistaken. Your personal
        computer, device and or workspace should always be a safe place without cookie counting and whether or
        not a public device, think before you make a post public.
    </p>
    <p>
        If you are a victim of controlling behaviour as a result of your use of these services then please do
        consider help that is available and recognise this as one misunderstood form of psychological abuse that
        can be resolved safely. Try searching Alta Vista for more information or ask Jeeves how to reduce your
        time spent connected to the internet.
    </p>
    <p>
        Possible side effects and consequences of misleading information can include prolonged life, prolapsed rectums
        and a whole host of other unsavoury things. Try post content that is valuable to life and definitely not junk
        or trick-bait of any kind.
    </p>
    <h3>Disclaimer and responsibility</h3>
    <p>
        Creative-Commons.lol is not responsible for the flatulence that may be encountered in the public domain or the
        otherwise known world wide web; we are just a weekend project like sunday lunch somewhat faithfully.
    </p>


    <h3>Cookies, Magick Mushrooms and Freedom of belief:</h3>
    <p>
        It is our desire to discuss in the third degree the prosperous allegations around serendipity and the zeitgeist
        delusion. As a registered user you agree to refrain from discord and discourteous or otherwise disingenuous
        homo-sapien behaviour.
    </p>
    <p>
        We do not store user data that is not required by us in order to protect your rights as a human being. That is;
        we do not record the email address of our governed user. Whilst you are logged into our systems you are
        declaring that you own aswell as operate the device you receive email address on, or that it is a shared
        computer in which you have the right to access..
    </p>

    <h4>
        Right to access is where the owner has granted you access for personal use and not as a means to mitigate
        your accountability or bypass legal requirements.
    </h4>
    <p>
        1. Police will not be required to censor your access.<br>
        2. Police will not be ignored if they state your access as harmful or in breach of these terms.<br>
        3. Police will not be notified if you die at the keyboard and sign in every 14 days thereafter.
        4. You have the right to be true and honest; nobody should persecute or prosecute you for that.
    </p>

    <p>
        The laws set forth that we recognise the ipv4 and ipv6 address of a remote host as personally identifiable
        and mistakable material which is why we use cookies to measure time between requests in a safeguarding manner.
    </p>

    <p>
        You; the user, declare yourself of apt-full literary strength and recognise that consent is measured, just like
        <strong>tea and the espionage acronyms</strong>, hackronyms are in computing what makes our languages duplex and
        is why our language preferences are preselected there and here.
    </p>

    <p>
        2. You agree to respect your forefathers, mothers, mother tongue and country<br>
        3. You agree to respect all civilised and alien life as if it were your own..<br>
        4. .. you agree to disrespect no person but to liberate us from their evil by change alone.<br>
        5. .. in erisian philosophy newton beats keller in gravitational war.
    </p>

    <p>
        We; the unfortunate benevolent one agree to say what we find to be true and make amendments where we see
        necessary.
    </p>

    <h3>Right to process and processing your information lawfully</h3>
    <p>
        We hash your email address using sha1 and md5 algorithms, salted, extrapolated and chained with concatenation
        syntax so only a profile remains. We reserve the right to acknowledge form dismissal and submission unto another
        form with data that meets a specified standard as conceptually unaware.
    </p>
    <p>
        If we recognise a valid email to be submitted a salted exchange begins to establish your authenticity as a host.
        That is; you host others with time in the academic sense of the w3.org standards around medium. We cannot allow
        you to receive summons to activate your tenure without having completed a profile and registered.
    </p>
    <p>
        The time required to complete a profile and trigger a opportunity to verify your email depends on the expiration
        of your ipv4 and or cookie lifetime before you may be bucketed as potentially fraudulent in registration. That
        is why we don't permit certain regular expression in our greek zone or ignore any honest sentence. Inactive and
        dormant accounts that have not been confirmed will be pruned.
    </p>

    <h3>Citations and conglomerate reform</h3>
    <p>
        We cite no person or personnel without consent and referee that is fit as they see. The following are references
        to factual archives, news stands and bereaved council men far and wide:
    </p>
    <p style="font-style: oblique">
        &ldquo;we have no records of such citations.&rdquo;
        and
        &ldquo;we have no records of such citations.&rdquo;
        or
        &ldquo;we have no records of such citations anywhere.&rdquo;
    </p>

    <h3>To begin activation, unsubscribe and or opt out:</h3>
    <p>
        We require an export in .json format of your active social media profile and proof you own the email handle not
        just the password that entropy requires with it. However, as we're in Y2K plus 20K we can transcend bitrate and
        make peace with all factual modesty by ignoring the reverse whois lookup requirements for the icann registry or
        pointing you to www.creative-commons.lol where you can work out how to ask more without misery. We are only two
        weeks or days old if you remember..
    </p>

    <p>
        Seriously though; if you receive email from this domain or any other of my own and wish to discuss it,
        feel free to email myself@creative-commons.lol with your feedback or optful@aaronhenderson.co.uk. Both should
        suffice in validity.
    </p>

</article>