    <footer class="footer">
        <p class="small-text desktop-float-right">
            <a href="/php/website/examples/facebook.com/terms-of-service">{ user.terms }</a> -
            <a href="/php/website/examples/facebook.com/privacy-statement">{ user.privacy }</a>
        </p>
        <p class="small-text">
            <a href="/php/website/examples/facebook.com/?sign_in">{ user.signin }</a>,
            <a href="/php/website/examples/facebook.com/?sign_up">{ user.signup }</a>
        </p>
    </footer>
</body>
</html>