
    <article id="article__terms_and_agreement">
        <h3>Terms of Agreement</h3>
        <p>
            You; the service user and or 'you' denotes the being in operation of the smart device viewing this
            agreement.
            <br><br>
            By completing the forms presented and pressing the create account button you agree to the processing of
            your data in a transparent way. We do not store sensitive data in our schema unless otherwise required to
            by law and or you. Email addresses, ip address, registration times and other identifiable information are
            not stored unless you explicitly say that you permit us to do so by completing one of our forms.
        </p>
        <h3>An Introduction of Terms</h3>
        <p>
            Creative-Commons.lol accepts no liability for any subsequent losses made by meta or any other french pie
            due to the creation of this parody portal of methodical journaling. As far as our terrestrial understanding
            of creative commons licensing goes; we are free to express freely under this domain granted that we state
            clearly that we are not the .org site or .com alternative. We are creative-commons.lol, an alternative
            outpost for the creative.
        </p>
        <p>
            By using this service; you agree to not knowingly provide fraudulent or inaccurate information, to respect
            other users you may encounter using the service and to not use any such service for any immoral or illegal
            activity.
        </p>
        <p>
            You agree to be transparent in any posts you share and answerable to community polling when you are found
            to be in offence, polling suggesting that no singular individual may or ever will be left responsible for
            moderating your content. Wasteful posts and reports are negative to carbon footprint and may compromise any
            prospect of a sustainable future / outcome, think before you post; contribute positively and revise where
            necessary.
        </p>
        <h3>Disclaimer</h3>
        <p>
            We are not meta, or facebook.com but an example of a creative commons alternative built on almost the same
            stack. We do not use tracking cookies or sell your information onto third party services. The website
            Creative-Commons.lol is not responsible for the accuracy of content posted on its website and withstands
            any responsibility or liability for any party relying on the accuracy of such. We do not endorse trolling,
            flaming or any other unethical behaviour that is overlooked sometimes due to prejudice.
        </p>
    </article>
